<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="MergeDWG.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>      
    <userSettings>
        <MergeDWG.Settings>
            <setting name="lispFilePath" serializeAs="String">
                <value>d:\Work\Soft\Autocad\UniteInOne.lsp</value>
            </setting>
            <setting name="templateFilePath" serializeAs="String">
                <value>d:\Work\Soft\Autocad\EmptyTemplate.dwg</value>
            </setting>
            <setting name="deltaX" serializeAs="String">
                <value>500</value>
            </setting>
            <setting name="minFileNameLength" serializeAs="String">
                <value>4</value>
            </setting>
        </MergeDWG.Settings>
    </userSettings>
</configuration>