<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <appSettings>
      <add key="lispFilePath" value="d:\Work\Soft\Autocad\Собрать в один.lsp" />
      <add key="templateFilePath" value="d:\Work\Soft\Autocad\EmptyTemplate.dwg" />
      <add key="deltaX" value="500" />
    </appSettings>  
</configuration>